- name: Install prerequisite packages
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates

- name: Add Docker repo
  ansible.builtin.deb822_repository:
   name: docker
   types: deb
   suites: "{{ ansible_distribution_release }}"
   uris:
     - https://download.docker.com/linux/ubuntu
   signed_by: https://download.docker.com/linux/ubuntu/gpg
   components:
     - stable

- name: Install Docker packages
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin

- name: Create docker directory
  ansible.builtin.file:
    path: "/home/jburke/docker-stacks"
    state: directory
    owner: "jburke"
    group: "jburke"
    mode: "0755"
